<!DOCTYPE html>
<html lang="en">
  <head>
    {{>links}}
  </head>
  <body>
    <!-- Navbar -->
    {{>navbar}}
    <div class="row">
        <div class="col-md-12 col-12 main_header_left align-items-center errimg">
            <img src="images/404.png" alt="" class="errorImg img-fluid">
        <h3 class="text-capitalize">{{errMsg}}</h3>
        <a href="/">Go Back</a>
    </div>
    </div>
    {{>footer}}
  </body>
</html>
